.edit-save-button-container {
  display: flex;
  justify-content: center;
}

.edit-save-button {
  width: 200px;
}

.edit-delete-file-button-container {
  display: flex;
  justify-content: flex-end;
}

.edit-delete-file-button {
  width: 54px;
}
